apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: angple-api
    patch: |
      - op: replace
        path: /spec/replicas
        value: 3
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 250m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 256Mi
  - target:
      kind: Deployment
      name: angple-gateway
    patch: |
      - op: replace
        path: /spec/replicas
        value: 2
  - target:
      kind: HorizontalPodAutoscaler
      name: angple-api-hpa
    patch: |
      - op: replace
        path: /spec/maxReplicas
        value: 30
  - target:
      kind: Ingress
      name: angple-ingress
    patch: |
      - op: add
        path: /spec/tls
        value:
          - hosts:
              - api.damoang.net
            secretName: angple-tls
